body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: auto;
}

.section-one {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 580px;
    text-align: center;
    background-position: fixed;
    background-size: cover;

}

.section-one h1,
p,
a {
    color: rgb(243, 245, 232);
}

.section-one h1 {
    padding-top: 145px;
    font-size: 55px;
}

.section-one p {
    color: rgb(216, 224, 235);
    padding-bottom: 18px;
}

.section-one a {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;

}

.section-two {
    text-align: center;
    width: 100%;


}

.section-two h1 {
    padding-top: 60px;
}

.section-two p {
    color: rgb(117, 117, 133);
}

.section-two .all-mony {
    display: flex;



}

.all-mony>div {
    width: 8%;
    height: 75px;
    background-color: rgb(243, 239, 239);
    border-radius: 5px;
    text-align: center;
}

.all-mony h1 {
    margin-top: -40px;
    font-weight: 700px;
    padding-bottom: 80px;
}

.all-mony .mony-one {
    margin-left: 20%;
    margin-right: 5%;


}

.all-mony .mony-two {
    border: 2px solid red;
    color: red;
    background-color: rgb(249, 177, 177);
    margin-right: 5%;
}

.all-mony .mony-three {
    margin-right: 5%;
}

.all-mony .mony-four {
    margin-right: 5%;
}

.other-mony {
    padding-top: 60px;
    color: rgb(168, 161, 161);
    padding-bottom: 30px;
}

.other-mony hr {
    width: 800px;
}

.section-two a {
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;

}

.section-three {
    text-align: center;
    padding-top: 80px;
}

.section-three p {
    color: rgb(90, 81, 81);
}

.flexible-content {
    display: flex;
    padding-top: 40px;
}

.flexible-content>div {
    width: 25%;
    height: 300px;
    background-color: red;
    text-align: left;
    font-size: 13px;
}

.flexible-content>div:hover {
    background-color: aquamarine;
    font-size: 14px;
}

.flexible-content .food {
    margin-left: 9%;
    margin-right: 3.5%;
    background-color: blanchedalmond;
}

.flexible-content .food img {
    padding-left: 25px;
    padding-top: 50px;

}

.flexible-content .food img,
h2,
p {
    padding-left: 25px;
}

.flexible-content .shelter {
    margin-right: 4%;
    background-color: aliceblue;
}

.flexible-content .shelter img {
    padding-top: 50px;
    padding-left: 25px;
}

.flexible-content .education {
    margin-right: 9%;
    background-color: bisque;
}

.flexible-content .education img {
    padding-top: 50px;
    padding-left: 25px;
}

.section-four {
    display: flex;
    width: 100%;
    margin-top: 70px;
}

.section-four>div {
    width: 35%;

}

.section-four .section-four-left {
    margin-left: 13%;
    margin-right: 6%;
    color: black;

}

.section-four .section-four-left .img-part img {
    width: 100%;
    height: 200px;
}

.section-four .section-four-right .img-part img {
    width: 100%;
    height: 200px;
}

.text-part p {
    color: rgb(52, 48, 48);
    text-align: left;
}

.text-part input {
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    border: none;
    border-radius: 5px;
}

.text-part input:hover {
    background-color: orange;
    font-size: 15px;
    border-radius: 10px;
}

.img-part {
    padding-top: 40px;
}